[submodule "logic/assets/cache/MEP-1759-DApp-store"]
	path = logic/assets/cache/MEP-1759-DApp-store
	url = https://github.com/MXCzkEVM/MEP-1759-DApp-store.git
[submodule "logic/assets/cache/wannseeswap-tokenlist"]
	path = logic/assets/cache/wannseeswap-tokenlist
	url = https://github.com/MXCzkEVM/wannseeswap-tokenlist.git
